<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>New Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTask()" [strong]="true">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Enter the name task" [(ngModel)]="name" placeholder="Name task"></ion-input>
  </ion-item>
</ion-content>